In [1]:
import json
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
with open("../data/scryfall/default-cards-20230502210911.json", "r") as f:
    scryfall_default_cards_json_list = json.load(f)

In [4]:
len(scryfall_default_cards_json_list)

82769

In [5]:
df = pd.DataFrame(scryfall_default_cards_json_list)

In [6]:
columns_to_select = [
    "id",
    "name",
    "set",
    "set_name",
    "rarity",
    "type_line",
    "colors",
    "color_identity",
    "mana_cost",
    "power",
    "toughness",
    "oracle_text",
    "keywords",
]

In [7]:
df = df[columns_to_select]

In [8]:
df = df[df["set"].isin(["jmp", "j22", "m21"])].reset_index(drop=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1729 entries, 0 to 1728
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1729 non-null   object
 1   name            1729 non-null   object
 2   set             1729 non-null   object
 3   set_name        1729 non-null   object
 4   rarity          1729 non-null   object
 5   type_line       1729 non-null   object
 6   colors          1729 non-null   object
 7   color_identity  1729 non-null   object
 8   mana_cost       1729 non-null   object
 9   power           994 non-null    object
 10  toughness       994 non-null    object
 11  oracle_text     1729 non-null   object
 12  keywords        1729 non-null   object
dtypes: object(13)
memory usage: 175.7+ KB

In [10]:
df.head()

,id,name,set,set_name,rarity,type_line,colors,color_identity,mana_cost,power,toughness,oracle_text,keywords
0,0002ab72-834b-4c81-82b1-0d2760ea96b0,Mystic Skyfish,m21,Core Set 2021,common,Creature — Fish,[U],[U],{2}{U},3,1,"Whenever you draw your second card each turn, ...",[]
1,00030770-5e99-4943-819d-8d807c24cc14,Swamp,jmp,Jumpstart,common,Basic Land — Swamp,[],[B],,NaN,NaN,({T}: Add {B}.),[]
2,00502ed1-4364-41cd-b717-1f9e38d1afe6,Howlgeist,j22,Jumpstart 2022,uncommon,Creature — Spirit Wolf,[G],[G],{5}{G},4,2,Creatures with power less than Howlgeist's pow...,[Undying]
3,011bc5b7-c4d5-4c4c-af0d-aa0853d63f3a,Buried Ruin,jmp,Jumpstart,uncommon,Land,[],[],,NaN,NaN,"{T}: Add {C}.\n{2}, {T}, Sacrifice Buried Ruin...",[]
4,011cfa46-6827-4418-881b-686eb34e06ce,"Mangara, the Diplomat",m21,Core Set 2021,mythic,Legendary Creature — Human Cleric,[W],[W],{3}{W},2,4,Lifelink\nWhenever an opponent attacks with cr...,[Lifelink]

In [11]:
df.to_csv("../data/jumpstart_cards.csv", index=False)