In [1]:
import json
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
with open("../data/scryfall/default-cards-20230502210911.json", "r") as f:
    scryfall_default_cards_json_list = json.load(f)

In [4]:
len(scryfall_default_cards_json_list)

82769

In [5]:
df = pd.DataFrame(scryfall_default_cards_json_list)

In [6]:
columns_to_select = [
    "id",
    "name",
    "set",
    "set_name",
    "rarity",
    "type_line",
    "colors",
    "color_identity",
    "mana_cost",
    "power",
    "toughness",
    "oracle_text",
    "keywords",
]

In [7]:
df = df[columns_to_select]

In [9]:
df["type_line"]

0                 Creature — Sliver
1            Creature — Kor Soldier
2           Token Creature — Spirit
3           Creature — Siren Pirate
4                Enchantment — Aura
                    ...
82764                       Instant
82765                Plane — Luvion
82766              Creature — Troll
82767    Creature — Vampire Soldier
82768                       Sorcery
Name: type_line, Length: 82769, dtype: object

In [14]:
df = df.dropna(subset=["type_line"]).reset_index(drop=True)

In [15]:
df = df[df["type_line"].str.contains("Basic Land")].reset_index(drop=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3901 entries, 0 to 3900
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3901 non-null   object
 1   name            3901 non-null   object
 2   set             3901 non-null   object
 3   set_name        3901 non-null   object
 4   rarity          3901 non-null   object
 5   type_line       3901 non-null   object
 6   colors          3901 non-null   object
 7   color_identity  3901 non-null   object
 8   mana_cost       3901 non-null   object
 9   power           0 non-null      object
 10  toughness       0 non-null      object
 11  oracle_text     3901 non-null   object
 12  keywords        3901 non-null   object
dtypes: object(13)
memory usage: 396.3+ KB

In [18]:
df.head()

,id,name,set,set_name,rarity,type_line,colors,color_identity,mana_cost,power,toughness,oracle_text,keywords
0,00030770-5e99-4943-819d-8d807c24cc14,Swamp,jmp,Jumpstart,common,Basic Land — Swamp,[],[B],,NaN,NaN,({T}: Add {B}.),[]
1,000366c8-7a43-49d7-a103-ac5bd7efd9aa,Swamp,tmp,Tempest,common,Basic Land — Swamp,[],[B],,NaN,NaN,({T}: Add {B}.),[]
2,000f1f50-08e5-4d83-8159-98f06a0e2279,Island,eld,Throne of Eldraine,common,Basic Land — Island,[],[U],,NaN,NaN,({T}: Add {U}.),[]
3,001eb913-2afe-4d7d-89a1-7c35de92d702,Island,fbb,Foreign Black Border,common,Basic Land — Island,[],[U],,NaN,NaN,({T}: Add {U}.),[]
4,00293ce4-3475-4064-8510-9e8c02faf3bf,Plains,cma,Commander Anthology,common,Basic Land — Plains,[],[W],,NaN,NaN,({T}: Add {W}.),[]

In [19]:
df.to_csv("../data/basic_land_cards.csv", index=False)