In [1]:
import re
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
url = "https://magic.wizards.com/en/news/feature/jumpstart-2022-booster-themes-and-card-lists"
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
j22_card_list_df = pd.DataFrame()

for deck in soup.find_all("deck-list"):
    deck_name = deck["deck-title"]
    deck_format = deck["format"]
    deck_card_list_string = deck.find("main-deck").text
    deck_card_list = deck_card_list_string.strip().split("\n")
    for row in deck_card_list:
        regex_match = re.match("^(\d+) (.+)$", row)
        n_occurences = regex_match.group(1)
        card_name = regex_match.group(2)
        j22_card_list_df = pd.concat([
            j22_card_list_df,
            pd.DataFrame([{
                "deck_name": deck_name,
                "deck_format": deck_format,
                "card_name": card_name,
                "n_occurences": n_occurences
            }])
        ])

j22_card_list_df = j22_card_list_df.reset_index(drop=True)

In [7]:
j22_card_list_df

     deck_name deck_format                  card_name n_occurences
0     Vehicles     Limited  Lita, Mechanical Engineer            1
1     Vehicles     Limited       Peacewalker Colossus            1
2     Vehicles     Limited           Hotshot Mechanic            1
3     Vehicles     Limited     Imperial Recovery Unit            1
4     Vehicles     Limited     Aethershield Artificer            1
...        ...         ...                        ...          ...
1714    Urza's     Limited           Alchemist's Vial            1
1715    Urza's     Limited             Expedition Map            1
1716    Urza's     Limited               Urza's Tower            3
1717    Urza's     Limited         Urza's Power Plant            2
1718    Urza's     Limited                Urza's Mine            2

[1719 rows x 4 columns]

In [9]:
j22_card_list_df.to_csv("../data/j22_set.csv", index=False)