In [1]:
import json
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
with open("../data/scryfall/default-cards-20230502210911.json", "r") as f:
    scryfall_default_cards_json_list = json.load(f)

In [4]:
len(scryfall_default_cards_json_list)

82769

In [5]:
df = pd.DataFrame(scryfall_default_cards_json_list)

In [6]:
columns_to_select = [
    "id",
    "name",
    "set",
    "set_name",
    "rarity",
    "type_line",
    "colors",
    "color_identity",
    "mana_cost",
    "power",
    "toughness",
    "oracle_text",
    "keywords",
]

In [7]:
df = df[columns_to_select]

In [8]:
df = df.dropna(subset=["type_line"]).reset_index(drop=True)

In [9]:
df = (
    df[
        (df["oracle_text"] == "")
        & df["type_line"].str.contains("Creature")
        & ~df["type_line"].str.contains("Token")
    ]
    .reset_index(drop=True)
)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1050 non-null   object
 1   name            1050 non-null   object
 2   set             1050 non-null   object
 3   set_name        1050 non-null   object
 4   rarity          1050 non-null   object
 5   type_line       1050 non-null   object
 6   colors          1050 non-null   object
 7   color_identity  1050 non-null   object
 8   mana_cost       1050 non-null   object
 9   power           1050 non-null   object
 10  toughness       1050 non-null   object
 11  oracle_text     1050 non-null   object
 12  keywords        1050 non-null   object
dtypes: object(13)
memory usage: 106.8+ KB

In [11]:
df.head()

,id,name,set,set_name,rarity,type_line,colors,color_identity,mana_cost,power,toughness,oracle_text,keywords
0,00223901-d462-41b0-9749-b093058f682f,Coral Eel,9ed,Ninth Edition,common,Creature — Fish,[U],[U],{1}{U},2,1,,[]
1,004af467-815a-47c0-a974-1ae49ca3a1a8,Jasmine Boreal,tsb,Time Spiral Timeshifted,special,Legendary Creature — Human,"[G, W]","[G, W]",{3}{G}{W},4,5,,[]
2,004d5c22-415c-4aa8-87f6-a4cf609d1eae,Fire Elemental,4bb,Fourth Edition Foreign Black Border,uncommon,Creature — Elemental,[R],[R],{3}{R}{R},5,4,,[]
3,0053bd00-90fd-48c2-8f79-952d5d1e3e74,Spined Wurm,por,Portal,common,Creature — Wurm,[G],[G],{4}{G},5,4,,[]
4,00c050c3-4f50-4bb6-8477-6737887ca10d,Loxodon Convert,nph,New Phyrexia,common,Creature — Phyrexian Elephant Soldier,[W],[W],{3}{W},4,2,,[]

In [12]:
df.to_csv("../data/vanilla_creature_cards.csv", index=False)